---
import BaseLayout from '../layouts/BaseLayout.astro'
import Footer from '../components/Footer.astro'
import Container from '../components/Container.astro'
const pageTitle = 'About'
const greeting = 'Nice to meet you,'
const about1 =
  "I'm Ciel, a recent graduate from the University of Virginia with a Bachelor's in Computer Science and a minor in Psychology."
const about2 =
  'My passion lies in the intersection of design, technology, and human behavior.'
const about3 =
  'I hope to spend my life answering the question of how digital products can be made to best solve human problems.'
const facts = 'Some fun facts'
const fact1 = '☁️ My name —  “Ciel” is the French word for “sky”'
const fact2 =
  '🤔 MBTI — INTJ, a “thoughtful tactician who loves perfecting the details of life, applying creativity and rationality to everything they do."'
const fact3 =
  '🍵 Drinks of choice — Strawberry matcha latte, oolong milk tea, iced vanilla latte'
const currents = 'Currently'
const current1 = '🎮 Playing — Stardew Valley, Valorant, Dress to Impress'
const current2 =
  '🎧 Listening to — Wave to Earth, NewJeans, Nujabes, Chappell Roan'
const current3 = '📖 Reading — Pachinko, The Creative Act'
---

<BaseLayout pageTitle={pageTitle}>
  <section class="flex h-[calc(100vh-96px)] items-center">
    <Container>
      <div class="mb-8 ml-8 flex gap-10">
        <div class="flex w-1/2 flex-col justify-center gap-6">
          <h2>
            <span class="inline"
              >{greeting}
              <model-viewer
                camera-controls
                alt="A 3D model of a bunny"
                poster="../../images/3d/bunny.jpg"
                src="../../images/3d/bunny.gltf"
                camera-orbit="180deg 2m"
                disable-zoom
                disable-pan
                interaction-prompt="none"
                auto-rotate
                rotation-per-second="30deg">
              </model-viewer>
            </span>
          </h2>
          <p>{about1}</p>
          <p>{about2}</p>
          <p>{about3}</p>
        </div>
        <img
          class="max-h-100 mx-auto rounded-xl border-2 border-black object-contain"
          src="/images/bamboo me.jpg"
        />
      </div>
    </Container>
  </section>
  <section class="border-b-2 border-t-2 border-black bg-gray-200 py-8 sm:py-20">
    <Container>
      <div class="mx-8 flex flex-col gap-6">
        <h2>{facts}</h2>
        <p>{fact1}</p>
        <p>{fact2}</p>
        <p>{fact3}</p>
      </div>
    </Container>
    <Container>
      <div class="mx-8 mt-20 flex flex-col gap-6">
        <h2>{currents}</h2>
        <p>{current1}</p>
        <p>{current2}</p>
        <p>{current3}</p>
      </div>
    </Container>
  </section>
  <Footer />
</BaseLayout>
