---
const { title, index, url, description, tags, image, color } = Astro.props
const isEven = index % 2 === 0
---

<div class:list={[isEven ? 'flex-row-reverse' : '', 'flex gap-10']}>
  <a href={url} class="w-1/2">
    <div
      class:list={[
        'group flex h-96 items-center justify-center overflow-hidden rounded-xl border-2 border-black',
        color,
      ]}>
      <img class="hoverable max-w-5/6 max-h-5/6 rounded-xl" src={image.url} />
    </div>
  </a>
  <div
    class:list={[
      'flex w-1/2 flex-col justify-center',
      isEven ? 'text-right' : 'text-left',
    ]}>
    <a href={url} class="hoverable mb-12 flex flex-col gap-4">
      <h3 class="pt-6">{title}</h3>
      <p>{description}</p>
      <p>{tags.join(' | ')}</p>
    </a>
  </div>
</div>
