---
const { title, index, url, description, tags, image, color } = Astro.props
const isEven = index % 2 === 0
---

<div
  class:list={[
    'flex flex-col gap-8 sm:flex-row',
    isEven ? 'sm:flex-row-reverse' : '',
  ]}>
  <a href={url} class="sm:w-1/2">
    <div
      class:list={[
        'group flex h-56 items-center justify-center overflow-hidden rounded-xl border-2 border-black sm:h-96',
        color,
      ]}>
      <img class="hoverable max-w-5/6 max-h-5/6 rounded-xl" src={image.url} />
    </div>
  </a>
  <div
    class:list={[
      'flex flex-col justify-center sm:w-1/2',
      isEven ? 'sm:text-right' : '',
    ]}>
    <a
      href={url}
      class="hoverable -mt-4 mb-8 flex flex-col gap-4 sm:mb-12 sm:mt-0">
      <h3 class="pt-6">{title}</h3>
      <p>{description}</p>
      <p>{tags.join(' | ')}</p>
    </a>
  </div>
</div>
