---
import Card from './Card.astro'
import Container from './Container.astro'
const allWorks = await Astro.glob('../pages/works/*.md')
allWorks.sort((a, b) => a.frontmatter.index - b.frontmatter.index)
---

<Container>
  <section class="mb-20 py-8 sm:py-12">
    <div class="flex flex-col gap-8 sm:gap-16">
      <!--<div class="text-center"><h2>Case Studies</h2></div> -->
      {
        allWorks.map((work) => (
          <Card
            url={work.url}
            index={work.frontmatter.index}
            title={work.frontmatter.title}
            description={work.frontmatter.description}
            tags={work.frontmatter.tags}
            image={work.frontmatter.image}
            color={work.frontmatter.color}
          />
        ))
      }
    </div>
  </section>
</Container>
